rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 1. Red de seguridad global (Default Deny Catch-All)
    match /{document=**} {
      allow read, write: if false;
    }

    // 2. Reglas para Colección de Ingenieros
    match /engineers/{engineerId} {
      allow read, write: if true;
    }

    // 3. Reglas para Colección de Clientes
    match /clients/{clientId} {
      allow read, write: if true;
    }

    // 4. Reglas para Órdenes de Trabajo (Work Orders)
    match /workOrders/{workOrderId} {
      allow read, write: if true;
    }

    // 5. Reglas para Reportes Técnicos
    match /reports/{reportId} {
      allow read, write: if true;
    }

    // 6. Reglas para Equipos (Equipments)
    match /equipments/{equipmentId} {
      allow read, write: if true;
    }

    // 7. Reglas para Contratos (Contracts)
    match /contracts/{contractId} {
      allow read, write: if true;
    }

    // 8. Reglas para Vacaciones (Vacations)
    match /vacations/{vacationId} {
      allow read, write: if true;
    }

    // 9. Reglas para Permisos y Compensaciones (Permissions)
    match /permissions/{permissionId} {
      allow read, write: if true;
    }

    // 10. Reglas para Cursos (Capacitaciones)
    match /cursos/{cursoId} {
      allow read, write: if true;
    }

    // 11. Reglas para Historial de Entrenamiento (Capacitaciones)
    match /historial_entrenamiento/{historialId} {
      allow read, write: if true;
    }
  }
}
